<div class="container">
  <div class="row">
    <!-- <div class="display-6 col-sm-6 text-center">SignUp Form</div> -->
    <!-- <div class="display-6 col-sm-6 text-center">Table</div> -->
    <h1 class="text-center text-decoration-underline mt-3">
      <b>SignUp</b>
    </h1>
  </div>
  <div class="row mt-4">
    <div class="card bg-light col-sm-11 ms-5 mb-4">
      <form [formGroup]="signUp" (ngSubmit)="onSubmit(signUp)">
        <div class="form-group mb-3">
          <label class="form-label">Name:</label>
          <input
            formControlName="userName"
            name="userName"
            placeholder="Enter name"
            required
            type="text"
            class="form-control"
            [class.is-invalid]="userName?.invalid && userName?.touched"
          />
          <div
            class="invalid-feedback"
            *ngIf="userName?.invalid && userName?.touched"
          >
            Please Enter valid Name
          </div>
        </div>

        <div class="form-group mb-3">
          <label class="form-label">Father's Name:</label>
          <input
            formControlName="fatherName"
            placeholder="Enter Father's Name"
            required
            type="text"
            class="form-control"
            [class.is-invalid]="fatherName?.invalid && fatherName?.touched"
          />
          <div
            class="invalid-feedback"
            *ngIf="fatherName?.invalid && fatherName?.touched"
          >
            Please Enter valid Father's Name
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            formControlName="email"
            placeholder="Enter email"
            required
            type="email"
            class="form-control"
            [class.is-invalid]="email?.invalid && email?.touched"
          />
          <div
            class="invalid-feedback"
            *ngIf="email?.invalid && email?.touched"
          >
            Please Enter valid email
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input
            formControlName="password"
            required
            placeholder="Enter your password"
            type="password"
            class="form-control"
            [class.is-invalid]="password?.invalid && password?.touched"
          />

          <div
            class="invalid-feedback"
            *ngIf="password?.errors?.['required'] && password?.touched"
          >
            Please Enter Password
          </div>
          <div class="invalid-feedback" *ngIf="password?.errors?.['minlength']">
            Password Must be 8 character long
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Mobile Number</label>
          <input
            formControlName="mobile"
            required
            placeholder="Enter your number"
            type="number"
            class="form-control"
            [class.is-invalid]="mobile?.invalid && mobile?.touched"
          />
          <div
            class="invalid-feedback"
            *ngIf="mobile?.invalid && mobile?.touched"
          >
            Please Enter vaild number
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary me-5 mb-3"
          [disabled]="
            mobile?.invalid ||
            password?.invalid ||
            email?.invalid ||
            fatherName?.invalid ||
            userName?.invalid
          "
        >
          Submit
        </button>
        <button type="reset" class="btn btn-danger mb-3 me-5">Reset</button>
        <button
          type="button"
          class="btn btn-secondary mb-3"
          routerLink="/login"
        >
          Login
        </button>
      </form>
    </div>
    <hr />
    <h1 class="text-center text-decoration-underline mt-3">
      <b>Table</b>
    </h1>
    <div class="col-sm-11 ms-5 mt-4">
      <table class="table table-striped table-info table-hove">
        <thead>
          <tr>
            <th>S No.</th>
            <th>Name</th>
            <th>Father Name</th>
            <th>Email</th>
            <th>Mob No.</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let unit of users; index as idx">
            <th>{{ idx + 1 }}</th>
            <td>{{ unit.name }}</td>
            <td>{{ unit.fatherName }}</td>
            <td>{{ unit.email }}</td>
            <td>{{ unit.number }}</td>
            <td>{{ unit.password }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
